# fly.toml app configuration file generated for agentic-workflow-service on 2025-12-16T20:36:20-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'agentic-workflow-service'
primary_region = 'ord'

[build]
  [build.args]
    GO_VERSION = '1.25.1'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
